* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    margin: 0;
}


.navbar{
    padding: 10px 5%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 60px;
    margin-top: 5px;
    transition: 0.5s;
}
.logo:hover{
    transform: scale(1.1);
}
.Name{
    color: rgb(23, 241, 238);
}
.navlogo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navlogo h1{
    padding-left: 10px;
}
.navmenu {
    padding-left: 30px;
}
.navmenu li{
    display: inline-block;
}
.navmenu li a{
    text-decoration: none;
}
.navmenu li a p{
    color: aliceblue;
    font-family: "open sans";
    font-size: 110%;
    margin: 10px;
    margin-bottom: 0px;
    position: relative;
    transition: 0.5s;
}
.navmenu li a p::after{
    content: '';
    width:0%;
    height: 3px;
    background: rgb(23, 241, 238);
    position:absolute;
    left:0;
    bottom: -4px;
    transition: 0.5s;
}
.navmenu li a p:hover::after{
    width: 100%;
}

#parent{
    padding: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Intro{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-60px);
    transition: 0.5s;
}
.Intro img{
    width:25vw;
    cursor: pointer;
}
.txt1, .txt2, .txt3
{
    color: white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    margin: 5px;
}
span{
    color: rgb(45, 189, 187);
    font-size: larger;
}
.txt1{
    font-size: 400%;
}
.txt2{
    font-size: 300%;
}
.txt3{
    font-size: 200%;
}
.icons{
    display: flex;
    padding-top: 20px;
    padding-right: 10px;
}
.icons a{
    width: 200%;
    transition: 0.5s;
}
.icons a:hover{
    transform: translateY(-5px);
}


.container{
    margin: 0px 5%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#About{
    padding: 20px;
    flex-basis: 55%;
    margin-bottom: 10px;
    border-radius: 6px;
}
.aboutmemark{
    text-decoration: none;
}
.aboutmemark{
    transition: 1s;
}
.aboutmemark:hover{
    text-decoration: underline yellow;
}
.aboutmetxt p{
    padding: 0px 5%;
}
.aboutmetxt p mark{
    background-color: rgb(29, 29, 29);
    color: yellow;
}
.aboutmetxt p span{
    color: rgb(26, 222, 222);
}
#Education{
    padding: 20px;
    flex-basis: 44%;
    margin-bottom: 10px;
    border-radius: 6px;
}
.title{
    display: flex;
    justify-content: center;
    color: aqua;
    background-color: rgb(29, 29, 29);
    text-align: center;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tab_header{
    display: none;
}
.tab_label{
    cursor: pointer;
    margin: 15px;
    margin-bottom: 0px;
    font-size: 200%;
    font-weight: bold;
    color: peachpuff;
    position: relative;
    transition: 0.5s;
}
.tab_label:hover{
    transform: translateY(-5px);
}
.tab_label::after{
    content: '';
    width:0%;
    height: 3px;
    background: #00ff3c;
    position:absolute;
    left:0;
    bottom: -4px;
    transition: 0.5s;
}
.tab-contents{
    order: 1;
    margin-top: 20px;
    width: 100%;
    display: none;
    color: white;
    padding: 0px 5%;
}
.tab_header:checked+.tab_label::after{
    width: 100%;
}
.tab_header:checked+.tab_label{
    color: #00ff3c;
}
.tab_header:checked+.tab_label+.tab-contents{
    display: flex;  
}
.educationtxt{
    padding-left: 10px;
}


#Skills{
    padding: 5%;
    margin: 0px 5%;
    padding-top: 3%;
    margin-bottom: 10px;
    border-radius: 6px;
}
#Skills .title h1{
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}
#Skills .title h1::after{
    content: '';
    width:0%;
    height: 3px;
    background: rgb(23, 222, 222);
    position:absolute;
    left:0;
    bottom: -4px;
    transition: 0.5s;
}
#Skills .title h1:hover::after{
    width: 100%;
}
#Skills .newcontainer .bar{
    transition: 0.5s;
}
#Skills .title{
    transition: 0.5s;
}
#Skills .title:active{
    transform: scale(0.85);
}
#Skills .title:active + .newcontainer .bar{
    transform-origin: left;
    transform: scaleX(0);
}
.newcontainer{
    margin: 0px 20px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col{
    flex-basis: 50%;
}
.elem{
    padding: 40px;
}
.skillheaders{
    color: white;
    padding: 7px;
    user-select: none;
    max-width: fit-content;
    cursor: pointer;
}
.skillheaders:hover+.bar{
    transform: scale(1.1);
}
.skillheaders:active+.bar{
    transform-origin: left;
    transform: scale(0);
}
.bar {
    border-radius: 3px;
    height:6px;
    width:20%;
    background-color:aqua;
    transition: 0.5s;
    cursor: pointer;
}
.bar:hover{
    transform: scale(1.1);
}


#Projects{
    padding: 10px 10%;
}
.tabs2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}
.tab_header2{
    display: none;
}
.tab_label2{
    cursor: pointer;
    margin: 15px;
    margin-bottom: 0px;
    font-size: 150%;
    font-weight: bold;
    color: peachpuff;
    position: relative;
    transition: 0.5s;
}
.tab_label2::after{
    content: '';
    width:0%;
    height: 3px;
    background: #00ff3c;
    position:absolute;
    left:0;
    bottom: -4px;
    transition: 0.5s;
}
.tab-contents2{
    order: 1;
    width: 100%;
    padding-top: 30px;
    display: none;
    color: white;
}
.tab_header2:checked+.tab_label2{
    color: #00ff3c;
}
.tab_label2:hover{
    transform: translateY(-5px);
}
.tab_header2:checked+.tab_label2::after{
    width: 100%;
}
.tab_header2:checked+.tab_label2+.tab-contents2{
    display: flex;
    flex-wrap: wrap;
}
.projectimg{
    padding: 20px;
    flex-basis: 50%;
}
.projectimg img{
    width: 80%;
    transition: 0.5s;
}
.projectimg img:hover{
    transform: scale(1.1);
}
.projecttxt{
    display: flex;
    align-items: center;
    flex-basis: 50%;
}
.projecttxt h3{
    font-family: "open sans";
    font-size: 120%;
    text-align: left;
}
.takemethere{
    text-decoration: none;
    color: rgb(18, 229, 229);
}
.takemethere h3{
    position: relative;
    max-width: max-content;
}
.takemethere h3::after{
    content: '';
    width:0%;
    height: 3px;
    background: rgb(18, 229, 229);
    position:absolute;
    left:0;
    bottom: -4px;
    transition: 0.5s;
}
.takemethere h3:hover::after{
    width: 100%;
}


.means{
    margin: 0px 10%; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.othermeans{
    flex-basis: 30%;
}
.mail{
    flex-basis: 30%;
    display: flex; 
    align-items: start; 
    flex-direction: column;
    background-color: black;
}
.spaces{
    flex-basis: 40%;
}
.othermeans a i{
    transition: 0.5s;
}
.othermeans a i:hover{
    transform: translateX(-5px);
}
.mail a i{
    transition: 0.5s;
}
.mail a i:hover{
    transform: translateX(-5px);
}


@media screen and (max-width:820px) {
    #parent{
        justify-content: space-around;
    }
    .Intro{
        transform: translateY(25px);
    }
    .Intro img{
        width:60vw;
        margin: 70px;
    }
    .navmenu{
        display: none;
    }
    #About, #Education{
        flex-basis: 100%;
    }
    #Skills{
        padding-top: 40px;
        user-select: none;
    }
    .tab_header:checked+.tab_label+.tab-contents{
        flex-wrap: wrap;
        justify-content: center;
    }
    .col, .projectimg,.projecttxt{
        flex-basis: 100%;
    }
    .projectimg img{
        width: 100%;
    }
    .tab_header2:checked+.tab_label2+.tab-contents2{
        justify-content: center;
        margin-bottom: 50px;
    }
    .othermeans, .mail{
        flex-basis: 100%;
    }

}
